<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <if condition='property("CONSOLE_LOGGING").contains("ON")'>
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%date{yyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC} ${PROJECT:-debug}%replace(%msg){'[\r\n]+', ' '}%n</pattern>
                </encoder>
            </appender>
        </then>
    </if>

</configuration>